.scroll_up {
  position: fixed;
  right: 2.2rem;
  bottom: -20%;
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll_up-icon {
  font-size: 1rem;
  color: #fff;
}

.scroll_up:hover {
  background-color: #000000;
}

.show-scroll {
  bottom: 3rem;
}

@media screen and (max-width: 992px) {
  .scroll_up {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }

  .scroll_up-icon {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .scroll_up {
    right: 1rem;
  }

  .scroll_up-icon {
    font-size: 1rem;
  }
}
